@import "mixins";

.footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 236, 236);
  min-height: 50vh;
  @media (max-height: 425px) {
    min-height: 70vh;
    justify-content: start;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 10px;
    background-color: grey;

    p {
      color: white;
      font-weight: 300;
    }
  }

  &-description {
    h2 {
      padding-top: 0;
      @media (max-height: 425px) {
        padding-top: 30px;
        padding-bottom: 15px;
      }
    }
    p {
      text-align: center;
      padding-bottom: 30px;
      @media (max-height: 425px) {
        padding-bottom: 15px;
      }
    }
  }

  .registration-field {
    @include input-field;
  }
}
