.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url("../../images/Intro_blue_stool.png");
  background-size: cover;
  background-position: center;
  box-shadow: 3px 7px 100px 0 rgba(0, 0, 0, 0.35) inset;

  &-logo {
    align-self: start;
    padding: 40px;
  }

  &-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    .description-text-block {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 60px;
        color: white;
      }

      p {
        font-size: 20px;
        color: white;
        text-align: center;
        padding: 40px 0;
        text-shadow: 3px 0 7px black;
        font-family: 'Yantramanav', sans-serif;
        font-weight: 300;
      }
    }

    .registration-field {
      display: flex;
      justify-content: center;

      input {
        border: none;
        outline: none;
        background-color: white;
        font-size: 18px;
        padding: 12px 25px;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        font-family: 'Yantramanav', sans-serif;
      }

      button {
        border: none;
        font-size: 18px;
        color: white;
        background-color: #20ab50;
        padding: 12px 25px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
}
