@import "mixins";

.intro {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/Intro_blue_stool.png");
  background-size: cover;
  background-position: center center;
  box-shadow: 3px 7px 100px 0 rgba(0, 0, 0, 0.35) inset;

  &-logo {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 222px;
    min-width: 135px;
    padding: 40px;

    @media (max-width: 767px) {
      padding: 20px;
      max-width: 30%;
    }
  }

  &-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20%;

    @media (max-width: 554px) {
      padding: 0;
    }

    .description-text-block {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 60px;
        color: white;
        padding: 0;

        @media (max-width: 767px) {
          font-size: 50px;
        }
        @media (max-width: 554px) {
          font-size: 40px;
        }
      }

      p {
        font-size: 20px;
        color: white;
        text-align: center;
        padding: 40px 0;
        text-shadow: 3px 0 7px black;
        font-weight: 300;

        @media (max-width: 767px) {
          padding: 20px 0;
        }
      }
    }

    .registration-field {
      @include input-field;
    }
  }
}
