@mixin input-field {
  display: flex;
  justify-content: center;

  input {
    border: none;
    outline: none;
    background-color: white;
    font-size: 18px;
    padding: 12px 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    font-family: 'Yantramanav', sans-serif;
  }

  button {
    border: none;
    font-size: 18px;
    color: white;
    background-color: #20ab50;
    padding: 12px 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    cursor: pointer;
  }
}