.our-costumers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &-image {
    width: 50%;
    img {
      width: 100%;
    }
  }
  &-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 0 8%;

    h2 {
      font-size: 30px;
    }

    .costumer-review {
      display: flex;
      flex-direction: column;
      padding: 12.5% 0;
      &:before {
        content: "”";
        font-size: 72px;
        color: #dcdcdc;
        font-family: "Nunito", sans-serif;
        font-weight: 400;
      }
      &:after {
        content: "“";
        font-size: 72px;
        color: #dcdcdc;
        align-self: end;
        font-family: "Nunito", sans-serif;
        font-weight: 400;
      }
      p {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
      }
    }

    p {
      font-size: 18px;
    }
  }
}
