.footer {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ececec;
  min-height: 51vh;
}
@media (max-height: 425px) {
  .footer {
    min-height: 70vh;
  }
}
.footer footer {
  width: 100%;
  padding: 5px 10px;
  background-color: grey;
}
.footer footer p {
  color: white;
  font-weight: 300;
}
.footer .footer-content .registration-field {
  display: flex;
  justify-content: center;
}
.footer .footer-content .registration-field input {
  border: none;
  outline: none;
  background-color: white;
  font-size: 18px;
  padding: 12px 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  font-family: "Yantramanav", sans-serif;
}
@media (max-width: 425px) {
  .footer .footer-content .registration-field input {
    padding: 10px 20px;
  }
}
.footer .footer-content .registration-field button {
  border: none;
  font-size: 18px;
  color: white;
  background-color: #20ab50;
  padding: 12px 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  cursor: pointer;
}
@media (max-width: 425px) {
  .footer .footer-content .registration-field button {
    padding: 10px 20px;
  }
}
.footer .footer-content .content-description h2 {
  padding-top: 60px;
}
@media (max-width: 768px) {
  .footer .footer-content .content-description h2 {
    padding-top: 30px;
  }
}
@media (max-height: 425px) {
  .footer .footer-content .content-description h2 {
    padding-bottom: 15px;
  }
}
.footer .footer-content .content-description p {
  text-align: center;
  padding-bottom: 30px;
}
@media (max-height: 425px) {
  .footer .footer-content .content-description p {
    padding-bottom: 15px;
  }
}