@charset "UTF-8";
.our-costumers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.our-costumers-image {
  width: 50%;
}
.our-costumers-image img {
  width: 100%;
}
.our-costumers-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 0 8%;
}
.our-costumers-description h2 {
  font-size: 30px;
}
.our-costumers-description .costumer-review {
  display: flex;
  flex-direction: column;
  padding: 12.5% 0;
}
.our-costumers-description .costumer-review:before {
  content: "”";
  font-size: 72px;
  color: #dcdcdc;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
.our-costumers-description .costumer-review:after {
  content: "“";
  font-size: 72px;
  color: #dcdcdc;
  align-self: end;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
.our-costumers-description .costumer-review p {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.our-costumers-description p {
  font-size: 18px;
}