@charset "UTF-8";
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/Intro_blue_stool.png");
  background-size: cover;
  background-position: center;
  box-shadow: 3px 7px 100px 0 rgba(0, 0, 0, 0.35) inset;
}
.intro-logo {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 222px;
  min-width: 135px;
  padding: 40px;
}
@media (max-width: 768px) {
  .intro-logo {
    padding: 20px;
    max-width: 30%;
  }
}
.intro-logo a > img {
  width: 100%;
}
.intro-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25%;
}
@media (max-width: 554px) {
  .intro-description {
    padding: 0 10%;
  }
}
.intro-description .description-text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro-description .description-text-block h2 {
  font-size: 60px;
  color: white;
}
@media (max-width: 768px) {
  .intro-description .description-text-block h2 {
    font-size: 50px;
  }
}
@media (max-width: 554px) {
  .intro-description .description-text-block h2 {
    font-size: 40px;
  }
}
.intro-description .description-text-block p {
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 40px 0;
  text-shadow: 3px 0 7px black;
  font-weight: 300;
}
@media (max-width: 768px) {
  .intro-description .description-text-block p {
    padding: 20px 0;
  }
}
.intro-description .registration-field {
  display: flex;
  justify-content: center;
}
.intro-description .registration-field input {
  border: none;
  outline: none;
  background-color: white;
  font-size: 18px;
  padding: 12px 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  font-family: "Yantramanav", sans-serif;
}
.intro-description .registration-field button {
  border: none;
  font-size: 18px;
  color: white;
  background-color: #20ab50;
  padding: 12px 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.about {
  display: flex;
  align-items: center;
  width: 100%;
}
.about-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8%;
}
.about-description h2 {
  font-size: 30px;
  padding-bottom: 11.5%;
}
.about-description p {
  font-size: 16px;
  padding-bottom: 7%;
}
.about .about-image {
  width: 50%;
}
.about .about-image img {
  width: 100%;
}

.our-costumers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.our-costumers-image {
  width: 50%;
}
.our-costumers-image img {
  width: 100%;
}
.our-costumers-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 0 8%;
}
.our-costumers-description h2 {
  font-size: 30px;
}
.our-costumers-description .costumer-review {
  display: flex;
  flex-direction: column;
  padding: 12.5% 0;
}
.our-costumers-description .costumer-review:before {
  content: "”";
  font-size: 72px;
  color: #dcdcdc;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
.our-costumers-description .costumer-review:after {
  content: "“";
  font-size: 72px;
  color: #dcdcdc;
  align-self: end;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
.our-costumers-description .costumer-review p {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.our-costumers-description p {
  font-size: 18px;
}

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../../images/Why-Plae.png");
  background-size: cover;
  background-position: center;
}
.benefits-description {
  padding-top: 70px;
}
.benefits-description h2 {
  padding-bottom: 20px;
}
.benefits-description h3 {
  padding-bottom: 5px;
}
.benefits-lists {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 6% 50px;
}
.benefits-lists .list {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.benefits-lists .list-item {
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;
}

.range {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 8%;
}
.range-description h2 {
  padding-bottom: 25px;
}
.range .slider-description h2 {
  padding-bottom: 25px;
}
.range .slider-description p {
  text-align: center;
}
.range-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60%;
  overflow: hidden;
}
@media (max-width: 768px) {
  .range-slider {
    flex-wrap: wrap;
  }
}
.range-slider .slider-item {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
  height: 60%;
  width: 70%;
}
@media (max-width: 768px) {
  .range-slider .slider-item {
    order: 1;
    width: 100%;
  }
}
.range-slider .slider-item img {
  width: auto;
  height: 100%;
}
.range-slider .slider-btn {
  width: 30px;
  height: 30px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.range-slider .slider-btn img {
  width: 100%;
  height: 100%;
}
.range-slider #prev-btn {
  transform: rotate(90deg);
  order: 1;
}
.range-slider #next-btn {
  transform: rotate(-90deg);
  order: 3;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 8%;
  height: 100vh;
}
.contacts-description h2 {
  padding-bottom: 20px;
  padding-top: 50px;
}
.contacts-description p {
  text-align: center;
  padding-bottom: 70px;
}
.contacts-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 60%;
}
.contacts-list-item {
  min-width: 20%;
}
.contacts-list-item a:last-child {
  color: #20ab50;
}
.contacts-footer-description h2 {
  padding-bottom: 20px;
}
.contacts-footer-description p {
  text-align: center;
  padding-bottom: 50px;
}
.contacts-footer-contacts {
  display: flex;
  padding-bottom: 50px;
}
.contacts-footer-contacts a {
  padding: 0 30px;
}
.contacts-footer-contacts a:first-child {
  color: #20ab50;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;
}
.footer-description h2 {
  padding-bottom: 20px;
}
.footer-description p {
  padding-bottom: 50px;
  text-align: center;
}
.footer .registration-field {
  display: flex;
  justify-content: center;
}
.footer .registration-field input {
  border: none;
  outline: none;
  background-color: white;
  font-size: 18px;
  padding: 12px 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  font-family: "Yantramanav", sans-serif;
}
.footer .registration-field button {
  border: none;
  font-size: 18px;
  color: white;
  background-color: #20ab50;
  padding: 12px 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(-200%, 50%);
}
.nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav ul li a {
  display: block;
  margin-bottom: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.5);
  cursor: pointer;
}
.nav ul li .active {
  width: 20px;
  height: 20px;
}